@{
    ViewData["Title"] = "Categories";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is for the tracking purpose.Please visit <a href="https://xpo.com/track">Categories link</a></p>
</div>
